*{
    box-sizing: border-box;
}
a,ul{
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
    &:hover{
        color: black;
    }
}
p{
    margin: 0;
}
