header {
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navContainer {
    height: 100%;
    max-width: 1300px;
    width: 1300px;
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBrand {
    width: 212px;
    height: 25px;
}
nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    //border: 1px solid red;
    gap: 27px;
    *{
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #1b1b1b;
    }
}
nav>ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    //border: 1px solid green;
    gap: 27px;
    li{
        position: relative;
        padding: 0 15px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 1px;
        cursor: pointer;
        a{
            position: relative;
        }
        .nav_li_line{
            position: absolute;
            height: 1px;
            width: 0%;
            background-color: black;
            bottom: -1px;
            transition: 150ms;
            transition-timing-function: linear;
        }
        &:hover{
            .nav_li_line{
                width: 100%;
                background-color: black;
            }
        }
        .nav_li_line.active{
            width: 100%;
            background-color: black;
        }
    }
}
.nav_chartBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    letter-spacing: 3px;
    .fa-magnifying-glass{
        font-size: 19px;
        cursor: pointer;
        transition: 200ms;
        transition-timing-function: linear;
        &:hover{
            color: #f34f3f;
        }
    }
    .fa-bag-shopping{
        cursor: pointer;
        font-size: 21px;
    }
}
.chart_value{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.chard_value_text{

}
.chard_value_price{

}
// nav hover menues
.nav_home{
    position: relative;
    .nav_dropdown{
        position: absolute;
        background-color: white;
        text-align: start;
        top: 115px;
        left: 0px;
        width: 210px;
        transition: 1000ms;
        visibility: hidden;
        ul{
            cursor: default;
        }
        li{
            display: flex;
            justify-content:start;
            gap: 10px;
            margin: 10px 0;
            &:hover{
                
            }
        }
    }
    &:hover{
        display: block;
        display: flex;
        align-items: center;
        .nav_dropdown{
            visibility: visible;
        }

    }
}
