header {
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navContainer {
    height: 100%;
    width: 1300px;
    max-width: 1300px;
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBrand {
    width: 212px;
    height: 25px;
}
nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    *{
        font-size: 12px;
        font-weight: 500;
        color: #1b1b1b;
    }
}
nav>ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    li{
        position: relative;
        padding: 0 15px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 1px;
        cursor: pointer;
        &>a{
            position: relative;
        }
        .nav_li_line{
            position: absolute;
            height: 1px;
            width: 0%;
            background-color: black;
            bottom: -1px;
            transition: 150ms;
            transition-timing-function: linear;
        }
        &:hover{
            .nav_li_line{
                width: 100%;
                background-color: black;
            }
        }
        .nav_li_line.active{
            width: 100%;
            background-color: black;
        }
    }
}
.nav_chartBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    letter-spacing: 3px;
    .fa-magnifying-glass{
        font-size: 19px;
        cursor: pointer;
        transition: 200ms;
        transition-timing-function: linear;
        &:hover{
            color: #f34f3f;
        }
    }
    .fa-bag-shopping{
        position: relative;
        cursor: pointer;
        font-size: 21px;
        .shop_item_count{
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 13px;
            width: 13px;
            color: #fff;
            background-color: red;
            font-size: 8px;
            padding-left: 3px;
        }
    }
}
.chart_value{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.chart_value_text{
    
}
.chart_value_price{

}
// nav_home && nav_pages hover menues
#nav_home , #nav_pages{
    position: relative;
    .nav_dropdown{
        position: absolute;
        background-color: #fff;
        width: 210px;
        max-height: 0px;
        top: 115px;
        left: 0px;
        overflow: hidden;
    }
    ul{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
    }
    li{
        width: 100%;
        display: flex;
        justify-content: start;
        .nav_li_line{
            width: 0% ;
        }
        .nav_li_line.active{
            width: 100% ;
        }
        &:hover{
            .nav_li_line{
                width: 100% ;
            }
        }
    }
    &:hover{
        .nav_dropdown{
            animation-name: openDropdown;
            animation-duration: 1000ms;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            @keyframes openDropdown {
                0%{max-height: 0px;}
                100%{max-height: 300px;}
            }
        }
   }
}
// nav_shop hover menue
#nav_shop{
    h2{
        padding: 0 15px;
        font-size: 22px;
        
    }
    .nav_shop_dropdown{
        display: flex;
        align-items: flex-start;
        position: absolute;
        background-color: #fff;
        width: 1300px;
        gap: 144px ;
        max-height: 0px;
        margin-right: 15px;
        top: 115px;
        overflow: hidden;
        cursor: default;
    }
    .nav_shop_container{
        display: flex;
        align-items: flex-start;
        gap: 144px ;
        padding: 20px 52px;
    }
    ul{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
    }
    li{
        .nav_li_line{
            width: 0% ;
        }
        .nav_li_line.active{
            width: 100% ;
        }
        &:hover{
            .nav_li_line{
                width: 100% ;
            }
        }
    }
    &:hover{
        .nav_shop_dropdown{
            animation-name: openDropdown;
            animation-duration: 1000ms;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            @keyframes openDropdown {
                0%{max-height: 0px;}
                100%{max-height: 600px;}
            }
        }
   }
}
// nav_portfolio hover menue
#nav_portfolio{
    position: relative;
    .nav_dropdown{
        position: absolute;
        background-color: #fff;
        width: 210px;
        max-height: 0px;
        top: 115px;
        left: 0px;
        overflow: hidden;
    }
    ul{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
    }
    li{
        width: 100%;
        display: flex;
        justify-content: start;
        position: relative;
        .nav_li_line{
            width: 0% ;
        }
        .nav_li_line.active{
            width: 100% ;
        }
        &:hover{
            .nav_li_line{
                width: 100% ;
            }
        }
        .fa-solid{
            position: absolute;
            left: 170px;
        }
    }
    &:hover{
        .nav_dropdown{
            animation-name: openDropdown;
            animation-duration: 1000ms;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            @keyframes openDropdown {
                0%{max-height: 0px;}
                100%{max-height: 600px;overflow: visible;}
            }
        }
       
   }
}
#nav_porfolio_layouts{
    position: relative;
    #nav_porfolio_layouts_dropdown{
        position: absolute;
        width: 210px;
        top: -20px;
        left: 210px;
        background-color: #fff;
        display: block;
        opacity: 0;
        transition: 500ms;
        li{
            .nav_li_line{
                width: 0% ;
            }
            .nav_li_line.active{
                width: 100% ;
            }
            &:hover{
                .nav_li_line{
                    width: 100% ;
                }
            }
        }
    }
    &:hover{
        #nav_porfolio_layouts_dropdown{
            opacity: 1;
            z-index: 2;
        }
    }
}
#nav_portolio_single{
    position: relative;
    #nav_portolio_single_dropdown{
        position: absolute;
        width: 210px;
        top: -20px;
        left: 210px;
        background-color: #fff;
        display: block;
        opacity: 0;
        transition: 500ms;
        li{
            .nav_li_line{
                width: 0% ;
            }
            .nav_li_line.active{
                width: 100% ;
            }
            &:hover{
                .nav_li_line{
                    width: 100% ;
                }
            }
        }
    }
    &:hover{
        #nav_portolio_single_dropdown{
            opacity: 1;
            z-index: 2;
        }
    }
}
// nav_blog hover menu
#nav_blog{
    position: relative;
    #nav_dropdown_blog{
        position: absolute;
        background-color: #fff;
        width: 210px;
        max-height: 0px;
        top: 115px;
        left: 0px;
        overflow: hidden;
    }
    ul{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
    }
    li{
        width: 100%;
        display: flex;
        justify-content: start;
        .nav_li_line{
            width: 0% ;
        }
        .nav_li_line.active{
            width: 100% ;
        }
        &:hover{
            .nav_li_line{
                width: 100% ;
            }
        }
        .fa-solid{
            position: absolute;
            left: 170px;
        }
    }
    &:hover{
        #nav_dropdown_blog{
            animation-name: openDropdown;
            animation-duration: 1000ms;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            @keyframes openDropdown {
                0%{max-height: 0px;}
                100%{max-height: 500px;overflow: visible;}
            }
        }
   }
   #nav_post_types{
        position: relative;
       #nav_post_types_dropdown{
        position: absolute;
        width: 210px;
        top: -20px;
        left: 210px;
        background-color: #fff;
        display: block;
        opacity: 0;
        transition: 500ms;
        li{
            .nav_li_line{
                width: 0% ;
            }
            .nav_li_line.active{
                width: 100% ;
            }
            &:hover{
                .nav_li_line{
                    width: 100% ;
                }
            }
        }
        }
        &:hover{
             #nav_post_types_dropdown{
                 opacity: 1;
                 z-index: 2;
             }
         }
   }
}
// nav_elements hover menu
#nav_elements{
    position: relative;
    #nav_dropdown_elements{
        position: absolute;
        background-color: #fff;
        width: 210px;
        max-height: 0px;
        top: 115px;
        left: 0px;
        overflow: hidden;
    }
    ul{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
    }
    li{
        .nav_li_line{
            width: 0% ;
        }
        .nav_li_line.active{
            width: 100% ;
        }
        &:hover{
            .nav_li_line{
                width: 100% ;
            }
        }
        .fa-solid{
            position: absolute;
            left: 170px;
        }
    }
    &:hover{
        #nav_dropdown_elements{
            animation-name: openDropdown;
            animation-duration: 1000ms;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            @keyframes openDropdown {
                0%{max-height: 0px;}
                100%{max-height: 500px;overflow: visible;}
            }
        }
   }
   #nav_classic{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: start;
       #nav_classic_dropdown{
        position: absolute;
        width: 210px;
        top: -20px;
        left: 210px;
        background-color: #fff;
        display: block;
        opacity: 0;
        transition: 500ms;
        li{
            .nav_li_line{
                width: 0% ;
            }
            .nav_li_line.active{
                width: 100% ;
            }
            &:hover{
                .nav_li_line{
                    width: 100% ;
                }
            }
        }
        }
        &:hover{
             #nav_classic_dropdown{
                 opacity: 1;
                 z-index: 2;
             }
         }
   }
//    2 ci
   #nav_infographic{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
   #nav_infographic_dropdown{
    position: absolute;
    width: 210px;
    top: -20px;
    left: 210px;
    background-color: #fff;
    display: block;
    opacity: 0;
    transition: 500ms;
    li{
        .nav_li_line{
            width: 0% ;
        }
        .nav_li_line.active{
            width: 100% ;
        }
        &:hover{
            .nav_li_line{
                width: 100% ;
            }
        }
    }
    }
    &:hover{
         #nav_infographic_dropdown{
             opacity: 1;
             z-index: 2;
         }
     }
}
//    3 ci
#nav_interactive{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
   #nav_interactive_dropdown{
    position: absolute;
    width: 210px;
    top: -20px;
    left: 210px;
    background-color: #fff;
    display: block;
    opacity: 0;
    transition: 500ms;
    li{
        .nav_li_line{
            width: 0% ;
        }
        .nav_li_line.active{
            width: 100% ;
        }
        &:hover{
            .nav_li_line{
                width: 100% ;
            }
        }
    }
    }
    &:hover{
         #nav_interactive_dropdown{
             opacity: 1;
             z-index: 2;
         }
     }
}
//    4 ci
#nav_typography{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
   #nav_typography_dropdown{
    position: absolute;
    width: 210px;
    top: -20px;
    left: 210px;
    background-color: #fff;
    display: block;
    opacity: 0;
    transition: 500ms;
    li{
        .nav_li_line{
            width: 0% ;
        }
        .nav_li_line.active{
            width: 100% ;
        }
        &:hover{
            .nav_li_line{
                width: 100% ;
            }
        }
    }
    }
    &:hover{
         #nav_typography_dropdown{
             opacity: 1;
             z-index: 2;
         }
     }
}
}
.nav_hamburger_icon{
    display: none;
}
// responsive menu
@media  screen  and (max-width:1200px) {
    .navContainer{
        justify-content: space-around;
        nav{
            display: none;
        }
        .nav_hamburger_icon{
            display: block;
            font-size: 24px;
        }
    }
}